<% @images.each do |image| %>
    <%= link_to image_path(image) do %>
      <div class="img-original center user_info"><%= image_tag image.file.url(:medium), alt: image.file.url(:thumb) %></div>
    <% end %>
<% end %>